@charset "UTF-8";
@import "../../../../../wxss/main";

.input-container{
  .input{
    width: 66rpx;
    height: 66rpx;
    position: relative;
    .xny-bg{
      width: 66rpx;
      height: 66rpx;
      position: absolute;
      top:0;
      left: 0;
      z-index: 1;
    }
    .value{
      width: 100%;
      height: 100%;
      line-height: 60rpx;  
      text-align: center;
      font-size: 26rpx;
      font-weight: bold;
      color: #A2A2A2;
      background-color: transparent;
      z-index: 10;
      border: 2rpx solid #CCCCCC;
      border-radius: 15rpx;
      &.active{
        border-color:$c-main;
        box-shadow: 0px 3px 5px 0px rgba(98, 155, 255, 0.3);
      }
    }
  }
}

