@charset "UTF-8";
@import "../../../wxss/main";

.plates-number-input-component{
  padding: 40rpx 30rpx;
  background: #FFFFFF;
  box-shadow: 0p 10rpx 45rpx 0 rgba(0, 0, 0, 0.05);
  border-radius: 30rpx;
}