page{
  background-color: #fff;
}
.page-500{
  padding-top: 256rpx;
  .img{
    display: block;
    width: 400rpx;
    height: 310rpx;
    margin: 0 auto 80rpx;
  }
  .text{
    font-size: 32rpx;
    text-align: center;
    color:#333;
    margin-bottom: 30rpx;
    font-weight: bold;
  }
  .subtext{
    font-size: 28rpx;
    text-align: center;
    color:#A2A2A2;
  }
}
