.page-500{
  padding-top: 275rpx;
  .img{
    display: block;
    width: 375rpx;
    height: 348rpx;
    margin: 0 auto;
  }
  .text{
    color:#666;
    font-size: 32rpx;
    text-align: center;
  }
}
