var mobileEncryption = function (mobile) {
  if (mobile && mobile.length == 11 && !isNaN(mobile)) {
    var str = typeof mobile === 'string' ? mobile : mobile.toString()
    return str.substring(0, 3) + '****' + str.substring(7)
  } else {
    return '手机号格式错误'
  }
}

module.exports = {
  mobileEncryption: mobileEncryption
}