.tabs-box{
  width: 100vw;
  height: 100rpx;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  box-shadow:0 10rpx 45rpx 0  rgba(0,0,0,0.05);
  border-radius:30rpx 30rpx 0 0 ;
  background-color: #fff;
  .tab{
    padding: 18rpx 10rpx 10rpx;
    .icon{
      width: 40rpx;
      height: 40rpx;
      margin-bottom: 10rpx;
    }
    .text{
      font-size: 18rpx;
    }
  }
}